footer {

    background-image: url("../assets/images/Background_Contacts.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-block: 128px 200px;
    #contact {

        align-items: center;
        gap:48px;
        header {
            align-items: center;

            h5 {

                color: var(--color-purple);
            }

            h2 {

                color:var(--color-gray-600);
            }

            p {

                color:var(--color-gray-600);
            }
        }

        #links {

            gap:16px;

            #social-linkedim {
                
                .img-logo {

                    background-image: url("../assets/icons/LinkedinLogo.svg");
                }

            }

            #social-instagram {
                
                .img-logo {

                    background-image: url("../assets/icons/InstagramLogo.svg");
                }

            }

            #social-github {
                
                .img-logo {

                    background-image: url("../assets/icons/GithubLogo.svg");
                }

            }

            #social-email {
                
                .img-logo {

                    background-image: url("../assets/icons/GithubLogo.svg");
                }

            }



            .social-button {
                border-radius: 8px;
                background-color: var(--color-gray-300);
                width: 400px;
                height: 68px;
                align-items: center;
                justify-content: space-between;
                padding:20px;
                font: var(--text-md);
                color:var(--color-gray-600);

                .rede-social {

                    align-items: center;
                    gap:20px;

                    .img-logo {

                        width: 32px;
                        height: 32px;
                        
                    }
                    
                }
            }
        }

    }
}